body{
    background-color: rgba(62, 62, 62, 1);
}

#main{
    position: relative;
    top: 30px;
    border-radius: 8px;
}

#main, #resultado{
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: rgba(120, 120, 120, 1);
}

#mostra{   
    position: relative;
    top: 100px;
    width: 200px;
    text-align: center;
    padding: 20px;
    margin: auto;
    background-color: rgba(120, 120, 120, 1);
    border-radius: 8px;
}

#mostra p{
    display: block;
}

input, button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.hiden{
    display: none;
}